@font-face {
  font-family: 'S-CORE-Dream bold';
  src: url('component/assets/font/s-core-dream/SCDream6.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CORE-Dream extra bold';
  src: url('component/assets/font/s-core-dream/SCDream7.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'YES Gothic extra bold';
  src: url("component/assets/font/yesGothic/YES24GothicEB.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'iBrand';
  src: url("component/assets/font/ibrand.otf") format("opentype");
  font-display: swap;
}

html {
  &::-webkit-scrollbar {
    display: none;
  }
}
